@media (max-width: 1570px){
  .product-rec{
    &__images{
      left: 50px;
    }
  }
}

@media (max-width: 1480px){
  .top-slider{
    &__item{
      padding: 180px 190px 195px;
    }
  }
}

@media (max-width: 1350px){
  .top-slider{
    &__inner{
      background-position: center right 90px;
    }
    &__item{
      padding: 150px 140px 145px;
    }
    &__img{
      object-fit: contain;
      width: 58%;
    }
    &__title{
      font-size: 65px;
    }
  }
}

@media (max-width: 1300px){
  .product-rec {
    &__images {
      display: none;
    }
    &__item{
      &:nth-child(1){
        .product-rec__content {
          margin-left: 10%;
        }
      }
    }
    &__content{
      margin-left: 10%;
    }
  }
  .articles{
    &__inner{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }
  .product-tabs {
    padding: 50px 0 20px;
  }
  .product-slide{
    display: none;
  }
}

@media (max-width: 1230px){
  .blog-page{
    &__inner{
      flex-direction: column;
    }
    &__aside{
      order: -1;
      width: 100%;
    }
    &__content{
      width: 100%;
      margin-right: 0;
    }
  }
  .filter-category,
  .lates-post{
    display: none;
  }
  .filter-search{
    &__input{
      width: 100%;
    }
  }
  .blog-page{
    &__item-content{
      width: 100%;
    }
  }
}

@media (max-width: 1200px){
  .about{
    &__images{
      display: none;
    }
  }
  .team{
    &__item{
      padding-right: 35px;
    }
  }
  .contact{
    &__info{
      width: 330px;
    }
    &__infor{
      display: block;
    }
  }
  .comments-form{
    padding-bottom: 60px;
    width: 100% !important;
    &__item-input{
      width: 100%;
    }
  }
  #map{
    width: 100%;
  }
}

@media (max-width: 1150px){
  .top-slider{
    &__inner{
      background-image: none;
    }
    &__item{
      padding: 90px 95px 105px;
    }
    &__title{
      font-size: 55px;
      line-height: 60px;
    }
    .slick-dots{
      padding-bottom: 30px;
    }
  }
  .menu{
    &__list{
      margin-left: 0;
    }
  }
  .product-item{
    &.product-item--active{
      .product-item__content-text{
        width: 320px;
      }
    }
  } 
}

@media (max-width: 1100px){
  .shop-one{
    &__slide{
      margin-right: 25px;
    }
  }
  .contact {
    &__inner{
      justify-content: space-around;
    }
    &__info {
      width: 290px;
    }
  }
}

@media (max-width: 1050px){
  .menu {
    &__list {
      position: absolute;
      flex-direction: column;
      width: 100%;
      top: 120px;
      left: 0;
      background-color: #fff;
      z-index: 5;
      transition: all .3s;
      transform: translateY(-200%);
    }
    &__list-item{
      text-align: center;
      width: 100%;
      padding-left: 0;
    }
    &__list-link{
      display: block;
      padding: 10px 0;
    }
    .menu__list--active{
      transform: translateY(0%);
    }
  }
  .user-nav{
    margin-right: 65px;
  }
  .nav {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    &__btn{
      cursor: pointer;
      width: 26px;
      height: 20px;
      background-color: transparent;
      border: none;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-color: #fff;
        width: 25px;
        height: 3px;
        top: 0;
      }
      &::after{
        content: '';
        position: absolute;
        background-color: #fff;
        width: 25px;
        height: 3px;
        bottom: 0;
      }
      span{
        position: absolute;
        width: 25px;
        height: 3px;
        background-color: #fff;
        transform: translateY(-1px);
      }
    }
  }
  .top-slider{
    &__item{
      padding: 90px 95px 75px;
    }
    &__img{
      display: none !important;
    }
    &__title{
      font-size: 51px;
      line-height: 54px;
    }
  }
  .bottom-slider{
    &__inner{
      flex-direction: column;
      height: 345px;
    }
    &__item{
      background-color: #fef7f0;
      align-items: flex-start;
      width: 100%;
      padding: 10px;
      min-height: 115px;
    }
    &__item-delivery{
      border-top: 1px solid #e8e4df;
      border-bottom: 1px solid #e8e4df;
      border-left: none;
      border-right: none;
    }
  }
  .product-item{
    max-width: 295px;
  }
  .product{
    &__inner{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .product-rec{
    &__text{
      width: 270px;
    }
  }
  .design{
    &__inner{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .articles-item{
    &__content{
      height: 190px;
    }
  }
  .shop{
    &__filter{
      display: none;
    }
  }
  .shop-filter{
    &__item-filt{
      display: flex;
      .shop-filter__title{
        padding-right: 15px;
      }
    }
  }
  .shop{
    &__filter{
      background-color: #fafafa;
      padding: 20px;
      border-radius: 5px;
      position: absolute;
      z-index: 101;
      width: 300px;
      margin-top: 41px;
    }
  }
  .product-item{
    &.product-item--active{
      .product-item__content-text{
        width: 100%;
      }
    }
  } 
}

@media (max-width: 1000px){
  .articles-item{
    &__content{
      height: 210px;
    }
    &__info-item{
      display: block;
    }
    &__author{
      margin-left: 0;
    }
  }
  .shop-one{
    &__inner{
      display: block;
    }
  }
  .shop-one{
    &__slide{
      margin: 0 auto;
    }
  }
}
@media (max-width: 950px){
  .contact {
    &__inner{
      margin: 65px 0 85px;
    }
    &__info {
      width: 240px;
      padding: 35px 0;
      height: 330px;
    }
    &__info-bg {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 900px){
  .team{
    &__inner{
      display: block;
    }
    &__item{
      width: 100%;
      margin-bottom: 50px;
    }
  }
  .product-item{
    &.product-item--active{
      height: 430px;
      .product-item__img-box{
        height: 430px;
      }
    }
  } 
}

@media (max-width: 850px){
  .footer-top{
    &__item{
      &:nth-child(4){
        width: 100%;
      }
    }
    &__form-btn{
      width: 100px;
    }
  }
  .product-item {
    max-width: 360px;
  }
  .product {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .articles {
    background: linear-gradient(360deg, #fef7f0 35%, transparent 50%);
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .shop{
    &__items{
      grid-template-columns: repeat(2, 1fr);
    }
    &.product-item {
      max-width: 360px;
    }
  }
}



@media (max-width: 800px){
  .product-rec{
    display: block;
    &__item{
      width: 100%;   
      margin-bottom: 25px;
    }
  }
  .video-design {
    &__popup{
      height: 410px;
    }
    &__link{
      height: 410px;
    }
  }
  .articles{
    padding: 55px 0 45px;
  }
  .partners{
    &__item{
      padding: 25px;
    }
  }
  .widgets{
    &__inner{
      flex-wrap: wrap;
    }
    &__item {
      min-width: 190px;
      margin: 20px 25px;
    }
  }
  .product-item {
    &.product-item--active {
      height: 370px;
      .product-item__img-box{
        height: 370px !important;
        min-width: 270px;
      }
      .product-item__content-box {
        padding-left: 35px;
      }
      .product-item__content-text{
        margin-bottom: 10px;
        width: 340px;
      }
      .product-item__img-box {
        height: 430px;
      }
      .product-item__content-subtitle{
        margin-bottom: 10px;
        font-size: 34px;
      }
      .product-item__content-price{
        margin: 15px 0;
      }
    }
  }
  .contact{
    &__inner{
      display: block;
    }
    &__info{
      height: 300px;
      width: 100%;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .blog-one{
    &__text{
      blockquote{
        height: 150px;
      }
    }
  }
  .comments{ 
    &__item--right{
      margin-left: 0;
      width: 100%;
    }
  }
}

@media (max-width: 750px){
  .design-item{
    min-height: 370px;
  }
  .design {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .blog-one{
    &__text{
      img{
        display: none;
      }
    }
    &__item-box{
      height: 145px;
    }
  }
}

@media (max-width: 700px){
  .product-item {
    &.product-item--active {
      display: block;
      min-height: 685px;
      .product-item__content-box{
        padding-top: 10px;
        width: 100%;
        padding-left: 0;
      }
      .product-item__content-text {
        width: 100%;
      }
    }
  }
  .product-tabs{
    &__top-item{
      font-size: 14px;
      width: 165px;
    }
  }
  .blog-page{
    &__item-img{
      height: 350px;
    }
  }
}


@media (max-width: 670px){
  .about {
    &__content {
      margin-left: 0;
    }
  }
}

@media (max-width: 650px){
  .user-nav {
    margin-right: 0;
  }
  .team {
    &__member-item {
      height: 330px;
    }
  }
}

@media (max-width: 610px){
  .menu{
    &__list{
      top: 185px;
    }
  }
  .user-nav {
    order: 1;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }
  .footer-bottom{
    flex-wrap: wrap;
    justify-content: center;
    &__copy{
      margin-bottom: 20px;
    }
  }
  .top-slider{
    &__item{
      padding: 55px 50px 40px;
    }
  }
  .product-item {
    max-width: 100%;
  }
  .product {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__filter-btn{
      margin-bottom: 70px;
    }
  }
  .product-rec{
    margin-top: 110px;
  }
  .video-design{
    &__play{
      width: 100px;
    }
  }
  .video-design {
    padding: 10px 0;
    &__popup {
      height: 310px;
    }
    &__link {
      height: 310px;
    }
  }
  .articles {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .articles-item{
    max-width: 100%;
    &__img{
      width: 100%;
    }
  }
  .widgets{
    padding: 40px 0;
  }
  .about {
    padding: 80px 0;
    &__info{
      justify-content: center;
      flex-wrap: wrap;
    }
    &__info-item{
      border-left: none;
      padding-left: 58px;
      margin: 11px;
      &::before{
        left: 0;
      }
    }
  }
  .shop {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &.product-item {
      max-width: 100%;
    }
  }
  .shop-one{
    &__slide{
      flex-direction: column;
    }
  }
  .shop-slide{
    &__big{
      width: 100%;
      order: -1;
    }
    &__big-item{
      margin-bottom: 20px;
      img{
        width: auto;
        margin: 0 auto;
      }
    }
    &__thumb{
      display: none;
    }
  }
  .comments-form{
    &__box-input{
      display: block;
      margin-bottom: 0px;
    }
    &__item-input{
      margin-left: 0 !important;
      margin-bottom: 20px;
    }
  }
  .blog-one {
    &__text {
      blockquote {
        height: 170px;
      }
    }
  }
}

@media (max-width: 555px){
  .articles{
    &__top-item{
      flex-wrap: wrap;
    }
    &__top-link{
      margin-left: auto;
    }
    &__top-title{
      margin-bottom: 15px;
    }
  }
  .product-tabs{
    &__top{
      display: block;
    }
    &__top-item{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .team{
    padding: 90px 0 0;
    &__member{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px 30px;
    }
    &__member-item{
      max-width: 100%;
      height: 100%;
    }
    &__member-img{
      width: 100%;
      
    }
  }
  .blog-one{
    &__author-img{
      display: none;
    }
    &__item-box {
      height: 100%;
    }
  }
}

@media (max-width: 500px){
  .blog-page {
    padding: 70px 0;
    &__item-img {
      height: 250px;
    }
  }
  .blog-one {
    &__text {
      blockquote {
        padding: 17px 30px 17px 35px;
        max-height: 200px;
        height: 100%;
      }
    }
  }
  .comments{
    &__content-name{
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 480px){
  .footer-top{
    padding: 60px 0 55px;
    &__item{
      width: 100%;
    }
    &__item-nav{
      justify-content: flex-start;
    }
  }
  .top-slider{
    &__item{
      padding: 35px 25px;
    }
    &__title{
      font-size: 43px;
      line-height: 48px;
    }
    &__text{
      width: 280px;
    }
    &__link{
      width: 160px;
      padding: 15px;
      &::after{
        bottom: 23px;
      }
    }
  }
  .product,
  .design{
    &__btn{
      margin-bottom: 5px;
    }
  }
  .design{
    padding: 20px 0;
  }
  .design-item {
    min-height: 275px;
  }
  .video-design {
    padding: 25px 0;
    &__popup {
      height: 250px;
    } 
    &__link {
      height: 250px;
    }
    &__play {
      width: 80px;
    }
  }
}

@media (max-width: 450px){
  .blog-one{
    &__author-person{
      margin-bottom: 20px;
    }
    &__author{
      display: block;
    }
  }
}

@media (max-width: 430px){
  .product-item {
    &.product-item--active {
      min-height: 710px;
    }
  }
  .shop-slide{
    &__big-item{
      max-width: 280px;
      height: 430px;
      img{
        width: 170px;
      }
    }
  }
}

@media (max-width: 400px){
  .product-rec{
    &__item {
      &:nth-child(1) {
        .product-rec__content {
          margin-left: 5%;
        }
      }
    }
    &__content {
      margin-left: 5%;
    }
    &__text{
      width: 200px;
      font-size: 14px;
    }
  }
  .design-item {
    min-height: 240px;
  }
  .about {
    &__info{
      display: block;
    }
    &__info-item {
      margin: 20px 0;
    }
  }
  .blog-page{
    &__item-img{
      height: 200px;
    }
  }
}

@media (max-width: 380px){
  .bottom-slider{
    &__content{
      padding-left: 70px;
    }
    &__text{
      width: 200px;
      font-size: 15px;
    }
  }
  .user-nav {
    &__item {
      padding-left: 7px;
    }
  }
}

@media (max-width: 360px){
  .user-nav{
    &__item-ul{
      width: 160px;
    }
    &__iner{
      margin-left: 32px;
    }
  }
  .footer-top{
    &__form-input{
      width: 100%;
    }
  }
  .top-slider{
    &__title{
      width: 50%;
    }
    &__text{
      width: 90%;
    }
  }
  .product-item {
    &.product-item--active {
      min-height: 740px;
    }
  }
  .blog-one{
    &__text{
      blockquote{
        max-height: 240px;
      }
    }
  }
  .comments{
    &__item-img{
      margin-right: 15px;
    }
  }
}