@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item{
    padding-left: 35px;
    &:first-child{
      padding-left: 0;
    }
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__link{
    background-color: $accent;
    padding: 15px;
    border-radius: 50%;
  }
  &__search-link{
    background-color: #edf1f4;
    padding: 15px 18px;
  }
  &__item{
    display: flex;
    padding-left: 20px;
    &:first-child{
      padding-left: 0;
    }
  }
  &__item-ul{
    display: flex;
    align-items: center;
    background-color: #fcd7b6;
    border-radius: 50px;
    width: 180px;
    height: 50px;
  }
  &__iner{
    margin-left: 35px;
    position: relative; 
  }
  &__iner-height{
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
  }
  &__num{
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #fff;
    color: $title;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 18px;
    border-radius: 50%;
    top: -8px;
    right: -9px;
  }
}

.footer-top{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  padding: 80px 0 70px;
  &__item-contact{
    width: 200px;
  }
  &__item-form{
    width: 270px;
  }
  &__logo{
    display: block;
    margin-bottom: 25px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__title{
    padding: 20px 0 20px;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
  }
  &__list-item{
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text{
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    @extend %rubik-400;
  }
  &__form{
    display: flex;
    margin-top: 35px;
  }
  &__form-input{
    background-color: $bg;
    width: 170px;
    border: none;
    padding: 15px;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__form-btn{
    width: 100%;
    border: none;
    background-color: $accent;
    color: #fff;
    @extend %dmsans-400;
    font-size: 14px;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  font-size: 14px;
  color: #7b7b7b;
  @extend %rubik-400;
  &__list{
    display: flex;
  }
  &__item{
    height: 15px;
    padding: 0 13px;
    border-left: 1px solid #7b7b7b;
    &:first-child{
      border-left: none;
    }
    &:last-child{
      padding-right: 0;
    }
  }
  &__link{
    line-height: 15px;
  }
}

.top-slider{
  background-color: #fcd7b6;
  &__inner{
    background-image: url('../images/slider/circle-bg.png');
    background-repeat: no-repeat;
    background-position: center right 185px;;
  }
  &__item{
    padding: 220px 300px 235px;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title{
    width: 415px;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 25px;
    color: $title;
    @extend %rubik-500;
  }
  &__text{
    width: 370px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #436372;
    @extend %rubik-400;
  }
  &__link{
    @extend %btn;
  }
  &__img{
    height: 264px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li{
      margin-left: 16px;
      &:first-child {
          margin-left: 0;
        }
      button{
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.302;
        font-size: 10px;
        color: $title;
        @extend %rubik-500;
        
      }
      &.slick-active{
        button{
          opacity: 1;
        }
      }
    }
  }
}

.bottom-slider{
  &__inner{
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 170px;
  }
  &__item-delivery{
    border-left: 1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
  }
  &__subtitle{
    font-size: 18px;
    margin-bottom: 5px;
    color: #414141;
    @extend %dmsans-700;
  }
  &__text{
    width: 230px;
    color: #585858;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
  &__content{
    padding-left: 80px;
    background-repeat: no-repeat;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #a3bbc8;
      opacity: 0.341;
      border-radius: 50%;
    }
  }
  &__content-hour{
    background-image: url('../images/slider/hour.svg');
    &::after {
      top: 32px;
      left: 32px;
    }
  }
  &__content-delivery{
    background-image: url('../images/slider/delivery.svg');
    &::after{
      top: 17px;
      left: 34px;
    }
  }
  &__content-card{
    background-image: url('../images/slider/credit-card.svg');
    &::after{
      top: 34px;
      left: 34px;
    }
  }
}

.product{
  padding: 70px 0 30px;
  &__filter-btn{
    text-align: center;
    margin-bottom: 80px;
  }
  &__btn{
    @extend %filter-btn;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.product-item{
  max-width: 270px;
  height: 380px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  padding: 30px 30px 35px;
  text-align: center;
  overflow: hidden;
  position: relative;
  &__img-box{
    display: flex;
    flex-direction: column;
    height: 315px;
  }
  &__images{
    max-height: 210px;
    margin: 10% auto;
    margin-bottom: auto;
  }
  &__subtitle{
    font-size: 16px;
    color: $title;
    line-height: 40px;
    @extend %dmsans-500;
  }
  &__price{
    font-size: 16px;
    color: $accent;
    @extend %dmsans-700;
    
  }
  &__link-box{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 140px;
    transition: all .3s;
    transform: translateY(500%);
  }
  &__link{
    display: inherit;
    width: 45px;
    height: 45px;
    background-color: #fff; 
    border-radius: 50%;
    margin-left: 15px;
    transition: all .3s;
    svg{
      margin: auto auto;
    }
    &:first-child{
      margin-left: 0;
    }
    &:hover{
      background-color: $accent;
      path{
        fill: #fff;
      }
    }
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
}

.product-rec{
  display: flex;
  justify-content: space-between;
  grid-gap: 30px;
  margin-top: 185px;
  &__item{
    position: relative;
    height: 390px;
    width: 100%;
    background-color: #feefe2;
    &:nth-child(1){
      .product-rec__content{
        margin-left: 45%;
      }
    }
  }
  &__content{
    height: 390px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50%;
    color: $title;
  }
  &__title{
    width: 260px;
    font-size: 22px;
    @extend %dmsans-700;
    line-height: 32px;
    margin-bottom: 10px;
  }
  &__text{
    @extend %dmsans-500;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__link{
    @extend %btn;
    width: 180px;
    background-color: transparent;
    border: 1px solid #436372;
    color: #436372;
    border-radius: 5px;
    @extend %rubik-500;
    &::after {
      background-image: url('../images/icons/arrow-r.png');
    }
  }
  &__images{
    top: -100px;
    left: 135px;
    position: absolute;
  }
}

.design{
  padding: 70px 0;
  &__filter-btn{
    text-align: center;
    margin-bottom: 70px;
  }
  &__btn{
    @extend %filter-btn;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
}

.design-item{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 245px;
  padding: 40px;
  border-radius: 5px;
  @extend %dmsans-700;
  &__title{
    color: $heading;
    font-size: 20px;
    margin-bottom: 15px;
    width: 180px;
  }
  &__part{
    color: $accent;
  }
}

.video-design{
  padding: 40px 0;
  &__popup{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
  }
  &__link{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.articles{
  background: linear-gradient(360deg, $bg 51.1%, transparent 50%);
  padding: 80px 0 90px;
  &__top-item{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 45px;
  }
  &__top-title{
    margin-bottom: 0;
  }
  &__top-link{
    padding-right: 25px;
    color: #262626;
    @extend %dmsans-700;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      top: 5px;
      right: 0;
      background-image: url('../images/icons/arrows_right.svg');
      background-repeat: no-repeat;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
  }
}

.articles-item{
  background-color: #fff;
  border-radius: 5px;
  max-width: 370px;
  &__content{
    display: flex;
    flex-direction: column;
    height: 170px;
    padding: 30px 30px 25px;
  }
  &__link-title{
    margin-bottom: auto;
  }
  &__title{
    line-height: 22px;
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
  }
  &__info{
    display: flex;
    border-top: 1px solid #e0e0e0; 
    padding-top: 15px;
    color: #222933;
  }
  &__date,
  &__author{
    color: inherit;
    @extend %rubik-400;
    font-size: 12px;
    margin-left: 30px;
    &:first-child{
      margin-left: 0;
    }
  }
  &--news{
    position: relative;
    &::before{
      content: 'NEWS';
      position: absolute;
      text-transform: uppercase;
      background-color: $accent;
      padding: 8px 28px;
      border-radius: 25px;
      font-size: 14px;
      @extend %poppins-700;
      color: #fff;
      left: 28px;
      top: 232px;
    }
  }
}

.partners{
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


@import 'media';